<div class="first"><h1><안녕하세요 영웅 숫자 놀이 입니다></h1>
    <div class="first_1">
         <h2><a href='/notes/index'><<<메인 화면으로 가기>>></a></h2>
         <h2><a href='/notes/new'><<<새로운 글 쓰러가기>>></a></h2>
    </div>
</div>
