<h1>좋아하는 숫자와 / 좋아하는 영웅~! </h1>
<p><a href='/'>첫 페이지</a></p>
<form action='/notes/create'>
    <input type ='text' name = 'star'></input>
    <input type='text' name ='nation'></input>
    <input type ='submit'></input>
</form>

<!--%= form_for :@note, url: notes_create_path do |f| %>-->
<!--    가수 : %= f.text_field :star %><br>-->
<!--    나라 : %= f.text_field :nation %><br>-->
<!--        %= f.submit %>-->
<!--% end %>  -->